<!DOCTYPE html>
<html>
    <head>
<title>About</title>
<link rel="icon" href="/img/weather.png">
<link  rel="Stylesheet" href="/css/styles.css"/>  <!--href key has a value of abosulte path -->
<script src= "/js/app.js" > </script>
    </head>
    <body>
        <div class="main-content">
            {{>header}} 
            <p>This site was created Ashish Deo. It uses data from mapbox.com and darksky.net !</p>
       <img class="robot"src="/img/robot.png" >
        </div>
      {{>footer}}
    </body>
</html>